<!-- Meta ve Başlık -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Yigitur Tur | <%= typeof title !== 'undefined' ? title : 'Anasayfa' %></title>

<!-- Google Font ve Bootstrap -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<!-- GLightbox CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">


<!-- Stil Dosyaları -->
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/images/yigitur_logo.png" sizes="64x64" type="image/png">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg custom-navbar fixed-top shadow-sm">

  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/images/yigitur_logo22.png" alt="Yigitur Tur" height="40" class="me-2">
      <strong>Yigitur Tur</strong>
    </a>

    <!-- Hamburger Menü -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Menüyü Aç">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menü Öğeleri -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Anasayfa</a></li>
        <li class="nav-item"><a class="nav-link" href="/basvurular">Başvurular</a></li>
        <li class="nav-item"><a class="nav-link" href="/harita">Hizmetler</a></li>
        <li class="nav-item"><a class="nav-link" href="/belgeler">Belgeler</a></li>
        <li class="nav-item"><a class="nav-link" href="/aydinlatma">Aydınlatma</a></li>
        <li class="nav-item"><a class="nav-link" href="/iletisim">İletişim</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Yetkili</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
